<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h4 class="text-secondary bg-warning">マイページ</h4>
      <h5>登録情報</h5>
      <div class="action">
        <%= link_to "編集する", customers_infomation_edit_path, class: "btn btn-success" %>
      </div>
      
      <table class="table table-bordered mt-3 mb-4">
        <tbody>
          <tr>
            <td class="table-secondary">氏名</td>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>
          <tr>
            <td class="table-secondary">カナ</td>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="table-secondary">郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td class="table-secondary">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="table-secondary">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td class="table-secondary">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      
      <h5>配送先</h5>
      <div class="action">
        <%= link_to "一覧を見る", shipping_addresses_path, class: "btn btn-primary" %>
      </div>
        
      <h5>注文履歴</h5>
      <div class="action">
         <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>