<div class="container p-5 mb-5">
  <div class="row mb-4">
    <h4><i class="fa-solid fa-spinner"></i> 管理者ログイン</h4>
  </div>
  <%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="row mb-3">
    <div class="offset-2 col-md-2">
      <label>メールアドレス</label>
    </div>
    <div class="col-md-4">
      <%= f.text_field :email, autofocus: true, autocomplete: "email", size: 40 %>
    </div>
  </div>
  <div class="row">
    <div class="offset-2 col-md-2">
      <label>パスワード</label>
    </div>
    <div class="col-md-4">
      <%= f.text_field :password, autocomplete: "current-password", size: 40 %>
    </div>
  </div>
  <div class="row mt-4 ml-2">
    <div class="offset-4">
      <%= f.submit "ログイン", class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
   <%= render "admin/shared/links" %>
</div>