<div class="container">
  <div class="row">
    <div class="col-md-4 offset-1 mb-3">
      <h4><i class="fa-solid fa-truck-fast"></i>配送先登録/一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
    <%= form_with model: @shipping_address, method: :post do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><%= f.label "郵便番号(ハイフンなし)" %></td>
          <td><%= f.text_field :postal_code, size: 30 %></td>
        </tr>
        <tr>
          <td><%= f.label "住所" %></td>
          <td><%= f.text_field :address, size: 60 %></td>
        </tr>
        <tr>
          <td><%= f.label "宛名" %></td>
          <td><%= f.text_field :name, size: 30 %></td>
          <td></td>
          <td>
            <%= f.submit "新規登録", class: 'btn btn-success btn-sm pl-4 pr-4' %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 mt-5">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <% @shipping_addresses.each do |shipping_address| %>
        <tbody>
          <tr>
            <td><%= shipping_address.postal_code %></td>
            <td><%= shipping_address.address %></td>
            <td><%= shipping_address.name %></td>
            <td>
              <%= link_to "編集する", edit_shipping_address_path(shipping_address), class: 'btn btn-success btn-sm mr-2' %>
              <%= link_to "削除する", shipping_address_path(shipping_address), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>