<div class="container">
  <div class="row">
    <div class="ml-3 col-md-2">
      <%= render 'public/genres/genre' %>
    </div>
    <div class="col-md-8">
      <h4>商品一覧</h4>
      <% @items.each do |item| %>
      <div class="col-md-4">
          <%= image_tag item.get_image(200, 250) %>
        <div class="mt-2">
        <%= link_to item_path(item.id) do %>
          <%= item.name %>
        <% end %><br>
        ¥<%= item.price %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>