<nav class="navbar navbar-expand-md shadow-sm bg-warning mb-5" style="padding: 0rem 0;">
  <div class="container">
    <ul class="logo_area justify-content-start">
      <li class="navbar-brand">
        <%= link_to root_path, class: "nav-link" do %>
          <%= image_tag 'logo_cake.PNG', class: "logo" %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item mr-3">
          <%= link_to "商品一覧", admin_items_path, class: "nav-link text-white border border-white rounded-pill" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "会員一覧", admin_customers_path, class: "nav-link text-white border border-white rounded-pill" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "注文履歴一覧", admin_orders_path, class: "nav-link text-white border border-white rounded-pill" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link text-white border border-white rounded-pill" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-white border border-white rounded-pill" %>
      </li>
    </ul>
  </div>
</nav>