<nav class="navbar navbar-expand-md shadow-sm mb-5" style="background-color: #cccca3;">
  <div class="container">
    <ul class="logo_area justify-content-start">
      <li class="navbar-brand">
        <%= link_to "/", class: "nav-link" do %>
          <%= image_tag 'logo_cake.PNG', class: "logo" %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item mr-3">
        <%= link_to "About", about_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "商品一覧", items_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-white" %>
      </li>
    </ul>
  </div>
</nav>
