<nav class="navber navber-expand-md navber-dark bg-dark">
  <div class="container">
    <div class="row">
      <% if customer_signed_in? %>
      <ul class="navber-nav ml-auto">
        <li class="nav-item">
          <%= link_to "マイページ", customers_mypage_path(current_customer), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "商品一覧", items_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "カート", cart_items_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "商品一覧", items_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>