<!DOCTYPE html>
<html>
  <head>
    <title>NagonoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/81e1251ca7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <%= render 'layouts/customer_header' %>
      <% elsif admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/before_header' %>
      <% end %>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
    <div class="container p-3">
      <div class="row">
        <div class="mx-auto">
          <p>
            <%= link_to root_path do %>
              <i class="fa-brands fa-x-twitter text-dark"></i>
              <i class="fa-brands fa-instagram text-dark ml-5"></i>
              <i class="fa-brands fa-facebook text-dark ml-5"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    </footer>
  </body>
</html>
